<!DOCTYPE html>
<html>
<head>
  <title>AjoContact</title>
  <%= stylesheet_link_tag    "ajo_contact/application", :media => "all" %>
  <%= javascript_include_tag "ajo_contact/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<di
<%= yield %>

</body>
</html>
